<h1>ツイートをふりかえったー</h1>

<div class='description'>
  <p>
    Twitterアカウントを連携させると、最大3000件のツイートを取得し、
    色々集計してくれます。
  </p>
  <p>
    (例) <a href="/furikaeri/341992852-AkwCkeKrQgASFlTaxrBcMK7Adj6LNreQ6yQtYABd">@Sa2knight</a>
  </p>
</div>

<div class='oauth-block'>
  <button onclick="location.href='/oauth'">振り返る</button>
</div>

<div class='author'>
  <p>作った人 @Sa2knight(@HousouP)</p>
</div>
