<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css?" type="text/css">
  <script src="/jquery-2.2.0.min.js"></script>
  <script src="/c3js/c3.min.js"></script>
  <script src="/d3js/d3.min.js"></script>
  <script src="/script.js"></script>
  <title>最近のツイートをふりかえったー</title>
</head>
<body>
  <%= yield %>
</body>
</html>
